html, body {
  padding: 0;
  margin: 0;
  border: 0;
  position: absolute;
  left: 0; right: 0; bottom: 0; top: 0;
  width: 100%;
  height: 100%;
  background-color :#000;
  color: #fff;
  overflow: hidden;
}

#sprites img {
  position: absolute;
  width: 48px;
  height: 48px;
}


